

.inset-attempt {
  display: flex;
  position: relative;
  align-items: center;
}
.inset-attempt>* {
  position: absolute; /* Use absolute positioning for each item */
  object-fit: contain; /* or use 'contain' if you want the whole image to be visible */
  transition: all 0.25s linear; /* Smooth transition */  
}

.inset-attempt> .backup {
  pointer-events: none;
}
.showing-0, .hidden-0  {
  left: 20%;
  width: 60%;
  z-index: 2;
}

.showing-1, .hidden-1  {
  left: 12%;
  width: 45%;
  z-index: 1;
}

.showing-2, .hidden-2  {
  right: 12%;
  width: 45%;
  z-index: 1;
}

.showing-3, .hidden-3  {
  left: 8%;
  width: 30%;
  z-index: 0;
}

.showing-4, .hidden-4  {
  right: 8%;
  width: 30%;
  z-index: 0 ;
}




.inset-attempt>.hovered-1, .inset-attempt>.hovered-3 {
  left: 20%;
  width: 60%;
  z-index: 3;
}
.inset-attempt>.hovered-2, .inset-attempt>.hovered-4 {
  right: 20%;
  width: 60%;
  z-index: 3;
}



