@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
}

.app {
  @apply h-auto relative z-10 sm:px-16 px-6;
}
.clickable {
  @apply hover:cursor-pointer hover:opacity-75;
}
